*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url(img/test.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    background: #ff574a;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
}
.profile h3{
    font-size: 22px;
    margin-top: 10px;

}
.cat-pic{
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
}
.bongo-cat-pic{
    opacity: 0;
    position:absolute;
    width:200px;
    height:100px;
    top:500px;
    right:300px;
}
.bongo-cat-pic:hover {
    opacity: 1;
}

.cowboy-pic{
    position:absolute;
    width:300px;
    height:300px;
    top:0px;
    right: 0px;
    opacity: 0.4;
}

.profile-bio{
    background: #ffffff;
    color: #000000;
    padding: 60px 0;
    margin: 20px -90px -40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    word-wrap: break-word;
    width: 400px;
}